<!DOCTYPE html>
<html>
<head>
    <title>Forum</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="Content/images/homepage/favicon.ico" type="image/x-icon">
    @Styles.Render("~/Content/css")
    @RenderSection("Styles", required: false)
    @Styles.Render("http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css")
    @Styles.Render("~/Content/jquery.datetimepicker.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/scripts/jquery-1.10.2.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")

</head>
<body>
    @Scripts.Render("http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js")
    @Scripts.Render("~/Scripts/jquery.datetimepicker.js")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/app")
    @RenderSection("Scripts", required: false)

    <div>
        <div class="jumbotron">
            <p>Форум</p>
            <p>Найдите ответы на ваши вопросы здесь</p>
        </div>
    </div>
    <nav id="navHorisontal" class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" data-toggle="collapse" data-target="#verticalNav">
                    <img src="Content/images/homepage/logo.jpg" class="img-responsive" style="max-width: 60px" alt="Logo">
                </a>
            </div>
            <div class="book-search">
                <ul class="nav navbar-nav">
                    <li>
                        <div class="search-area">
                            @using (Ajax.BeginForm("JsonSearch", "Home", new AjaxOptions
                            {
                                OnSuccess = "OnSuccess"
                            }))
                            {
                                <input type="text" name="name"/>
                                <button type="submit" class="btn btn-info">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            }

                            <div id="searchResult" class="seach-result">
                                <ul id="results">
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>


            <script type="text/javascript">
                function OnSuccess(data) {
                    var results = $('#results'); // получаем нужный элемент
                    results.empty(); //очищаем элемент
                    for (var i = 0; i < data.length; i++) {
                        results.append('<li>' + '<a href="/Post/SinglePost/' + data[i].Id + '">' + data[i].Name + '</a>' + '</li>'); // добавляем данные в список
                    }
                }
            </script>

            @*@using (Ajax.BeginForm("JsonSearch", "Home", new AjaxOptions { OnSuccess = "OnSuccess" }))
                {
                    <input type="text" name="name" />
                    <input type="submit" value="Поиск" />
                }*@
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(" Главная", "Index", "Home", new { area = "" }, new { @class = "navbar-collapse" })</li>
                    <li>@Html.ActionLink(" Правила", "Rules", "Home", new { area = "" }, new { @class = "navbar-collapse" })</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.Partial("_LoginPartial")</li>
                </ul>
            </div>


        </div>


        @*<div class="row">
                <footer class="container-fluid text-center">
                    <form class="form-inline">
                        <p>TatyanaLukashevich &copy; @DateTime.Now.Year</p>
                    </form>
                </footer>
            </div>*@
    </nav>

    <div class="row">
        @RenderBody()
    </div>


</body>

</html>
